* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100px;
}

@media screen and (max-width: 1440px) {
  html {
    font-size: 88px;
  }
}

@media screen and (max-width: 1280px) {
  html {
    font-size: 75px;
  }
}

/* ipad pro */

@media screen and (max-width: 1024px) {
  html {
    font-size: 65px;
  }
}

/* ipad */

@media screen and (max-width: 768px) {
  html {
    font-size: 40px;
  }
}

/* iphone6 7 8 plus */

@media screen and (max-width: 414px) {
  html {
    font-size: 30px;
  }
}

/* iphoneX */

@media screen and (max-width: 375px) and (-webkit-device-pixel-ratio: 3) {
  html {
    font-size: 30px;
  }
}

/* iphone6 7 8 */

@media screen and (max-width: 375px) and (-webkit-device-pixel-ratio: 2) {
  html {
    font-size: 30px;
  }
}

/* iphone5 */

@media screen and (max-width: 320px) {
  html {
    font-size: 30px;
  }
}

.home_btn:hover {
  box-shadow: 1px 1px 8px 0px rgba(200, 223, 247, 60);
}

@keyframes slidein {
  from {
    transform: translateX(50%);
  }
  to {
    transform: translateX(0%);
  }
}

.home_slogan {
  font-size: 36px;
  animation: 1s ease-in-out alternate slidein;
}

.home_sub_slogan {
  font-size: 20px;
  animation: 2s linear reverse both alternate slidein;
}

.text_editor {
  max-height: 250px;
  overflow: auto;
  flex: 1;
  border: 1px solid #BBB;
  padding: 5px 8px;
  width: 100%;
  height: 100%;
}

.text_editor_display {
  max-height: 250px;
  overflow: auto;
  flex: 1;
  border: 1px solid #BBB;
  padding: 5px 8px;
  width: 100%;
  height: 100%;
}

.text_editor:empty:before {
  content: '请输入文字';
  color: #888;
}

.text_editor:focus:before {
  content: '';
}

.carousel_btn_next_container {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.carousel_btn_prev_container {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.carousel_btn_next {
  background-color: #00000066;
  z-index: 99;
  cursor: pointer;
}

.carousel_btn_prev {
  background-color: #00000066;
  z-index: 99;
  cursor: pointer;
}

@font-face {
  font-family: 'MQG8F02';
  src: url('/static/MQG8F02.ttf');
}

.bt-anim-opacity {
  animation: 2.5s bt-opacity 0s infinite;
  -webkit-animation: 2.5s bt-opacity 0s infinite;
  -moz-animation: 2.5s bt-opacity 0s infinite;
}

@keyframes bt-opacity {
  0% {
    opacity: 0
  }
  50% {
    opacity: .6;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes bt-opacity {
  0% {
    opacity: 0
  }
  50% {
    opacity: .6;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes bt-opacity {
  0% {
    opacity: 0
  }
  50% {
    opacity: .6;
  }
  100% {
    opacity: 0;
  }
}